/* Estilos generales */


.container {
    background-color: #fff; /* Fondo blanco para el contenedor */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Espaciado alrededor del contenedor */
}

/* Estilos de la barra de navegación */

.navbar{
    position: fixed;      /* Fija la navbar en la parte superior de la página */
    width: 100%;         
    padding: 15px;
    z-index: 10;
    color: transparent;
    background-color: transparent !important; /* Hace que el fondo sea transparente */
    border: none; /* Quita cualquier borde que pudiera tener */
  }
  
/* Estilos de las tarjetas */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaciado entre tarjetas */
}

.card {
    background-color: black; /* Fondo de las tarjetas */
    width: 25rem; /* Ancho fijo */
    border-radius: 8px;
    overflow: hidden;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilos para el panel de categorías */
.panel {
    display: none; /* Ocultar el panel de categorías por defecto */
    position: absolute; /* Asegura que se expanda sin mover otros elementos */
    top: 100%; /* Coloca el panel justo debajo del botón */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.accordion {
    font-weight: bold; /* Hacer el texto del acordeón más fuerte */
    background-color: transparent; /* Fondo transparente */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
}

.accordion:hover {
    background-color: #555; /* Cambiar fondo al pasar el mouse */
}

/* Mostrar el panel al pasar el mouse */
.accordion:hover + .panel {
    display: block; /* Mostrar el panel al pasar el mouse */
}
