h2 {
    max-width: 550px;
    text-align: center
}

h5 {
    max-width: 550px;
    text-align: center;
}

h6{
max-width: 550px;
text-align: center;
}

.container{
    display: flex;
}

.video-container {
    position: relative;   /* Necesario para posicionar el texto sobre el video */
    display: flex;
    height: 113vh;       /* Ajusta la altura según sea necesario */
    overflow: hidden;    /* Oculta cualquier contenido que se desborde */
  }
  
  video {
    max-width: 100%;
    height: auto;
  }

.navbar{
  position: fixed;      /* Fija la navbar en la parte superior de la página */
  width: 100%;         
  padding: 15px;
  z-index: 10;
  color: transparent;
  background-color: transparent !important; /* Hace que el fondo sea transparente */
  border: none; /* Quita cualquier borde que pudiera tener */
}

.overlay-text {
    position: absolute;   /* Posiciona el texto sobre el video */
    top: 40%;             /* Centra verticalmente */
    left: 50%;            /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar exactamente */
    color: white;         /* Cambia el color del texto como desees */
    text-align: center;   /* Centra el texto */
    z-index: 10;          /* Asegura que el texto esté por encima del video */
    padding: 20px;        /* Espaciado interno */
    border-radius: 40px;  /* Esquinas redondeadas (opcional) */
    background-color: rgba(0, 0, 0, 0.308);
  }

.card{
    margin-bottom: 25px;
}

.product-card {
    transition: box-shadow 0.3s ease;
}

.product-card.highlight {
    box-shadow: 0 0 20px yellow, 0 0 30px orange, 0 0 40px red;
}

.accordion.active, .accordion:hover {
  background-color: #555;
}

.panel {
  padding: 10px 18px;
  display: none;
  background-color: #333;
  color: white;
}

.accordion {
  font-weight: bold;
}

.panel {
  position: absolute; /* Asegura que se expanda sin mover otros elementos */
  top: 100%; /* Coloca el panel justo debajo del botón */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
  padding: 10px;
  border-radius: 20px;
  z-index: 10;
}

#spinner {
  height: 200px; /* Ajusta el tamaño */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}