body{
background-image: url(./Bandera\ argentina.jpg);
background-repeat: no-repeat;
background-position: flex;
background-size: 100%;
}

.card{
    background-color: lightblue;
}

.img1{
    transform: translate(230%, 1%);
    border-radius: 10%;
    width: 18%;
}

.img2{
    width: 23%;
    transform: translate(250%, -2%);
    border-radius: 15%;
}

.img3{
    width: 18%;
    transform: translate(-210%, -2%);
    border-radius: 15%;
}